<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="StorageName" value="hd------store" />
    <add key="StorageKey" value="Copy-and-Paste-Azure-Storage-Key" />
    <add key="ContainerName" value="hdfiles" />
    <add key="ClusterName" value="hd------" />
    <add key="UserName" value="HDUser" />
    <add key="Password" value="SecurePa$$w0rd" />
  </appSettings>
</configuration>